<div class="container" [style.padding]="pagePadding">
    <img class="logo-icon" src="assets/logo.svg" [style.width]="logoWidth">
    <div class="content" [style.padding]="contentPadding">
        <p>Home works!</p>
        <p>Lorem ipsum dolor sit amet. Ab voluptas illo ut veniam praesentium in nobis saepe. Est soluta veniam non expedita corporis qui harum omnis est voluptas consequatur et veniam corrupti. </p><p>Aut cumque omnis quo voluptas sunt eos voluptatum adipisci non sint cupiditate ut enim nesciunt aut reprehenderit ratione. Non quaerat facilis est molestiae saepe  aspernatur tenetur non consequatur aliquid. Qui atque itaque et quia galisum et quam sunt et similique doloremque aut molestiae quam non fuga autem. </p><p>Sit repudiandae possimus et galisum nulla non tenetur earum est ullam placeat. Est galisum eaque ut sint similique qui enim quis id voluptatem dicta vel voluptatem aliquid qui laboriosam numquam ut delectus magnam? Cum consequuntur dolorum quo sunt odit et magni maxime ut ipsam officiis. Est beatae voluptatum non dolores earum qui quam internos ad ipsa quibusdam. </p>

    </div>

</div>
